/*アイテム*/
img{
  width:100px; 
  height:100px; 
  object-fit: cover;
  margin: 8px;
}

.item-container{
  display: flex;
  flex-direction: column;
}

.item{
  display: flex;
  border-bottom: thin solid silver;
}

/*ログアウト*/
#logout{
  width:80%; 
  height:80%;
  text-align: center; 
}

/*振り動画*/
.youtube-img{
  float: left;
}

.description{
  float: right;
}
